@use '../constants' as cons;

.article_link{
    display: block;
    width: cons.$anims-article-w;
    height: cons.$anims-article-h;
    color: cons.$default-font-color;
    text-align: center;
    transition-duration: cons.$anims-article-transition-duration;
    position: relative;

    // div{
    //     position: absolute;
    //     background-color: gold;
    //     color: red;
    //     left: 9px;
    // }

    img{
        display: block;
        width: cons.$anims-article-img-w;
        height: cons.$anims-article-img-h;
        margin: cons.$anims-article-img-vertical-margin auto;
    }

    @media (hover: hover) and (pointer: fine) { // 마우스 hover
        &:hover{
            opacity: cons.$anims-article-hover-opacity;
        }
    }
}