article{
    width: 150px;
    height: 200px;
    // background-color: red;
    text-align: center;
    img{
        display: block;
        width: 120px;
        height: 150px;
        margin: 10px auto;
    }
}