@use '../constants' as cons;

.base{
    background-image: cons.$dive-background-gradient;
    color: cons.$dive-font-color;
    overflow: hidden;
    padding-top: cons.$dive-base-padding-top;
    padding-bottom: cons.$dive-base-padding-bottom;

    .remoteBox{
        position: fixed;
        width: cons.$dive-remoteBox-w;
        // height: 180px;
        right: -100px;
        bottom: cons.$dive-remoteBox-bottom;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: cons.$dive-remoteBox-gap;
        transition-duration: cons.$dive-remoteBox-transition-duration;

        z-index: 100;
        border: cons.$dive-remoteBox-border;
        p{
            padding-left: cons.$dive-remoteBox-p-padding-left;
            border: cons.$dive-remoteBox-p-border;
            cursor: pointer;
        }
    }

    .remoteButton{
        display: block;
        position: fixed;
        right: cons.$dive-remoteButton-right;
        bottom: cons.$dive-remoteButton-bottom;
        width: cons.$dive-remoteButton-w;
        height: cons.$dive-remoteButton-h;
        z-index: 100;
    }

    section{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0 cons.$dive-section-horizontal-padding;
        width: 100%;
        margin: cons.$dive-section-vertical-margin 0;
        gap: cons.$dive-article-gap;
        border-bottom: cons.$dive-section-border-color cons.$dive-section-border-type cons.$dive-section-border-size;

        .depth_inform{
            // display: none;
            opacity: 0;
            position: absolute;
            padding: 0 cons.$dive-depth-inform-horizontal-padding;
            right: cons.$dive-depth-inform-right;
            bottom: cons.$dive-depth-inform-bottom;
            border-left: cons.$dive-depth-inform-border-color 
                         cons.$dive-depth-inform-border-type 
                         cons.$dive-depth-inform-border-size;
            border-right: cons.$dive-depth-inform-border-color 
                          cons.$dive-depth-inform-border-type 
                          cons.$dive-depth-inform-border-size;
            background-color: cons.$dive-depth-inform-background-color;
            transition-duration: cons.$dive-depth-inform-transition-duration;
        }

        .depth_num{
            position: absolute;
            right: cons.$dive-section-depth-p-right;
            bottom: cons.$dive-section-depth-p-bottom;

            &:hover ~ .depth_inform{
                opacity: 1;
            }
        }
    }
}