@use '../constants' as cons;

#base{
    background-image: cons.$dive-background-gradient;
    color: cons.$dive-font-color;
    overflow: hidden;
    section{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0 cons.$dive-section-horizontal-padding;
        width: 100%;
        margin: cons.$dive-section-vertical-margin 0;
        gap: cons.$dive-article-gap;
        border-bottom: cons.$dive-section-border-color cons.$dive-section-border-type cons.$dive-section-border-size;

        div{
            position: absolute;
            right: cons.$dive-section-depth-p-right;
            bottom: cons.$dive-section-depth-p-bottom;
        }
    }
}