@use '../constants' as cons;

.header_component{
    height: cons.$header-h;
    background-image: cons.$header-bc-color;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid white;

    .titleBox{
        display: flex;
        width: cons.$header-title-w;
        height: cons.$header-title-h;
        margin: cons.$header-title-margin-top cons.$header-title-margin-left;
        img{
            display: block;
            width: cons.$header-title-img-size;
            height: cons.$header-title-img-size;
        }
        p{
            width: cons.$header-title-text-box-w;
            height: cons.$header-title-text-box-h;
            color: cons.$header-title-text-color;
            font-size: cons.$header-title-text-font-size;
            line-height: cons.$header-title-text-line-height;
        }
    }

    .navigation{
        position: absolute;
        display: flex;
        right: 10%;
        bottom: 10px;
        li{
            width: 120px;
            color: cons.$default-font-color;
            text-align: center;
            font-size: 20px;
            margin: 0 10px;
            
            &:hover{
                color: cons.$default-font-color-hover;
            }
        }
    }
}