@use '../constants' as cons;

.header_component{
    height: cons.$header-h;
    background-color: cons.$header-bc-color;
    overflow: hidden;
    position: relative;
    border-bottom: cons.$header-border;

    

    .titleBox{
        display: flex;
        width: cons.$header-title-w;
        height: cons.$header-title-h;
        margin: cons.$header-title-margin-top cons.$header-title-margin-left;
        img{
            display: block;
            width: cons.$header-title-img-size;
            height: cons.$header-title-img-size;
        }
        p{
            width: cons.$header-title-text-box-w;
            height: cons.$header-title-text-box-h;
            color: cons.$header-title-text-color;
            font-size: cons.$header-title-text-font-size;
            line-height: cons.$header-title-text-line-height;
        }
    }

    .navigation{
        position: absolute;
        display: flex;
        right: cons.$header-nav-right;
        bottom: cons.$header-nav-bottom;
        li{
            width: cons.$header-nav-li-w;
            color: cons.$default-font-color;
            text-align: center;
            font-size: cons.$header-nav-li-font-size;
            margin: 0 cons.$header-nav-li-horizontal-margin;
            
            &:hover{
                color: cons.$default-font-color-hover;
            }
        }
    }
}