@use './default_cons' as default-cons;

$height: 1000px;
$background-gradient: linear-gradient(to bottom, #f4ab21, #f4ab21, #1CB5E0, rgb(15, 128, 198));
$flex-gap: 20px;
$inner-w: 80%;
$inner-vertical-margin: 40px;
$h1-bottom-margin: 10px;