@use './default_cons' as default-cons;

$background-gradient: linear-gradient(to bottom, #1CB5E0, rgb(15, 128, 198));
$flex-gap: 20px;
$inner-w: 600px;
$inner-vertical-margin: 40px;
$h1-bottom-margin: 10px;