@use './default_cons' as default-cons;
@use './dive_lanking_cons' as dive-cons;

$background-gradient: dive-cons.$background-gradient;
$font-color: dive-cons.$font-color;
$h1-line-height: 40px;
$content-line-height: 30px;

// 표지 이미지
$poster-vertical-margin: 50px;
$poster-w: 50%;

$poster-image-fix-threshold: 700px;
$poster-max-w: 400px;

// p 요소(plot, barrier, pv)
$p-margin-bottom: 20px;
$p-border: white solid 2px;

$plot-w: 80%;
$plot-vertical-margin: 100px;
$plot-padding: 20px;

$barrier-w: $plot-w;
$barrier-vertical-margin: $plot-vertical-margin;
$barrier-padding: $plot-padding;

$pv-video-width: 100%;