@use './default_cons' as default-cons;

$background-gradient: linear-gradient(to bottom, #1CB5E0, #020223, #03033a, black);

$font-color: default-cons.$font-color;

$section-horizontal-padding: 10px;
$section-vertical-margin: 20px;
$article-gap: 10px;
$section-border-color: skyblue;
$section-border-type: dotted;
$section-border-size: 3px;

$section-depth-p-right: 10px;
$section-depth-p-bottom: 10px;

$depth-inform-horizontal-padding: 10px;
$depth-inform-right: 10px;
$depth-inform-bottom: 50px;
$depth-inform-background-color: rgb(134, 53, 6);
$depth-inform-transition-duration: 0.5s;

$depth-inform-border-color: white;
$depth-inform-border-type: solid;
$depth-inform-border-size: 2px;
